@import "tailwindcss";

@theme {  
  --color-background: #ffffff;
  --color-foreground: #171717;

  --color-primary-900: #0A6A76;
  --color-primary-500: #92DACF;
  --color-primary-100: #DAEDEA;

 --color-primary-gradient: linear-gradient(90deg, #40BCA8 0%, #40BCA8 48%, #40BCA8 100%);
}